.btn {
    display: inline-block;
    padding: 14px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50pc;
}

a.btn {
    text-decoration: none;
    text-align: center;    
}

.btn-primary {
    background-color: var(--primary);
    border: 3px solid var(--primary);
    color: var(--white);
    cursor: pointer;
}

.btn-primary-outline {
    background-color: var(--white);
    color: var(--primary);
    border: 3px solid var(--primary);
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--primary-dark);
}

.btn-secondary {
    background-color: var(--secundary);
    border: 3px solid var(--secundary);
    color: var(--black);
    cursor: pointer;
}

.btn-secondary-outline {
    background-color: var(--white);
    color: var(--black);
    border: 3px solid var(--secundary);
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: var(--secundary-dark);
}

.btn-secondary-outline:hover {
    border: 3px solid var(--secundary-dark);
}